<${name}
	name="${name}"
	required="{Boolean}${required}"
	fieldLabel="${title}"
	validation="${validation}"
	fieldDescription="${description}"
	jcr:primaryType="nt:unstructured"
	sling:resourceType="granite/ui/components/foundation/form/textfield"/>