<${name}
    jcr:title="${title}"
    jcr:primaryType="nt:unstructured"
    sling:resourceType="granite/ui/components/coral/foundation/form/fieldset">
    <items jcr:primaryType="nt:unstructured">
        ${items}
    </items>
</${name}>