<${name}
    name="./${name}"
    fieldLabel="${title}"
    allowCreate="{Boolean}true"
    allowBulkEdit="{Boolean}true"
    cq-msm-lockable="cq:tags"
    renderReadyOnly="{Boolean}true"
    cq:showOnCreate="{Boolean}true"
    fieldDescription="${description}"
    jcr:primaryType="nt:unstructured"
    sling:resourceType="cq/gui/components/common/tagspicker"/>