
.ace-editor-add-more {
    color: #ee6e73;
    cursor: pointer;
	background-color: transparent;
}

.ydb-editor {
	width: 100%;
	min-height: 500px;
}

.ydb-editor-container {
	padding: 0px !important;
}